In [2]:
import os, sys, json
import logging as log
from pathlib import Path
from datetime import datetime
from collections import defaultdict

import numpy as np
import pandas as pd

In [5]:
pos_name = input('enter position name : ')
df_pos = pd.read_csv(Path('../wifi_data') / pos_name / 'wifi_all.csv', header=None)
df_pos = df_pos.rename(columns={0:'bssid', 1:'rssi', 2:'timestamp', 3:'position', 4:'rp'})
df_pos

                  bssid  rssi                   timestamp position      rp
0     88:36:6c:1d:a5:2c    57  2020-12-08 01:49:31.550772       신관    7층엘베
1     88:36:6c:1d:a3:dc    67  2020-12-08 01:49:31.550772       신관    7층엘베
2     88:36:6c:1d:c2:94    83  2020-12-08 01:49:31.550772       신관    7층엘베
3     88:36:6c:1d:bb:b8    65  2020-12-08 01:49:31.550772       신관    7층엘베
4     00:08:5b:9a:53:81    80  2020-12-08 01:49:31.550772       신관    7층엘베
...                 ...   ...                         ...      ...     ...
1276  88:36:6c:1d:d7:6e    62  2020-12-08 01:43:45.811226       신관  751D창쪽
1277  88:36:6c:1d:d7:6c    88  2020-12-08 01:43:45.811226       신관  751D창쪽
1278  88:36:6c:1d:d7:6e    70  2020-12-08 01:43:59.631641       신관  751D창쪽
1279  88:36:6c:1d:ae:8c    80  2020-12-08 01:43:59.631641       신관  751D창쪽
1280  88:36:6c:1d:a5:14    60  2020-12-08 01:43:59.631641       신관  751D창쪽

[1281 rows x 5 columns]

In [3]:
cur_time = datetime.now().strftime("%Y%m%d-%H%M%S")

for rp_name, df_rp in df_pos.groupby('rp'):
    rp_path = Path('../train_data') / pos_name / rp_name
    rp_path.mkdir(parents=True, exist_ok=True)

    dict_rp = defaultdict(lambda : defaultdict(int).fromkeys(df_rp['bssid'], 0))
    for idx, wifi in df_rp.iterrows():
        dict_rp[wifi['timestamp']][wifi['bssid']] = wifi['rssi']
        dict_rp[wifi['timestamp']]['rp'] = wifi['rp']

    train_data = pd.DataFrame.from_dict(dict_rp).transpose()
    train_data.to_csv(rp_path / f'{cur_time}.csv', index=False, encoding="utf-8")
    print(f'train data generated for {pos_name} {rp_name}')

train data generated for 신관 751D문쪽
train data generated for 신관 751D창쪽
train data generated for 신관 751세면대
train data generated for 신관 751앞계단
train data generated for 신관 751앞복도
train data generated for 신관 7층엘베
train data generated for 신관 7층휴게실L
train data generated for 신관 7층휴게실R